{%- comment -%} 
getting `folders` variable
an array of folder name that are unescaped
if folder set in config, then it follows order in config
else it is sorted in alphabetical order
{%- endcomment -%}

{% assign folders = "" | split: ',' %}
{% assign escaped_folders = "" | split: ',' %}
{% if site.folders %}
    {% for folder in site.folders %}
        {% assign folder_name = folder.name | strip %}
        {% assign folders = folders | push: folder_name %}
    {% endfor %}
{% else %}
    {%- comment -%} 
        DEFAULT WAY OF LISTING FOLDERS IF NOT SORTED
    {%- endcomment -%}
    {% for page in site.html_pages %}
    {% unless page.name == 'index.html' or page.name == 'index.md' %}
    {% comment %}
        page.path gives 
        - folder name/hello.md
        - hello.md
        - assets/hello.md
    {% endcomment %}
    {% assign path_split = page.path | split: '/' %}
    {% if path_split.size == 1 %}
        {% assign folder = '/' %}
    {% else %}
        {% assign folder = path_split | first %}
    {% endif %}
        {% unless folder == 'assets' %}
            {% assign folders = folders | push: folder %}
        {% endunless %}
    {% endunless %}
    {% endfor %}
    {% assign folders = folders | uniq | sort %}
{% endif %}

{%- comment -%} 
    Render folders
{%- endcomment -%}
{% capture folders_html %}
{% for i in (1..folders.size) %}
    {% assign folder_index = i | minus: 1 %}
    {% assign folder = folders[folder_index] %}
    {% assign escaped_folder_path = folder | uri_escape %}
    {% unless escaped_folder_path == '/' %}
        {% assign escaped_folder_path = escaped_folder_path | prepend: '/' %}
    {% endunless %}
    {% assign escaped_folders = escaped_folders | push: escaped_folder_path %}
    <li>
    <a href="{{ escaped_folder_path | relative_url }}" id="dir_{{ escaped_folder_path | downcase }}" class="tod-container">
    <div class="directory-item">
    {{ site.folders[folder_index].title }}
    </div></a>
    </li>
{% endfor %}
{% endcapture %}

{% comment %}
    START OF FOLDER DIRECTORY
    Show table of directories only in root path
{% endcomment %}
<section class="navigation">
<ul class="table-of-directories {%- if include.currdir == blank and include.currdir != '/' %} hidden{%- endif -%}">
{{ folders_html }}
</ul>
{%- comment -%} 
    END OF FOLDER DIRECTORY
{%- endcomment -%}


{% comment %}
If there is only one folder or documents all at root, dont show back button
{% endcomment %}
{% if folders.size > 1 %}
<div class="back-to-documents">
    <p>Back to Documents <img class="btn-icon" src="{{ '/assets/images/chevron-up.svg' | relative_url }}"></p>
</div>
{% endif %}


{%- comment -%} 
Escape current file directory parent folder
{%- endcomment -%}
{% assign escaped_currdir = include.currdir | remove_first: '/' | split: '/' | first | uri_escape | prepend: '/' %}
{% if escaped_currdir != '/' %}
    {% assign escaped_currdir = escaped_currdir | append: '/' %}
{% endif %}

{% for i in (1..folders.size) %}
    {% assign folder_index = i | minus: 1 %}
    {% assign escaped_folder = escaped_folders[folder_index] %}
    {% assign folder = folders[folder_index] %}
    {% comment %}
        If there is only one folder, show expanded content list
    {% endcomment %}
    {% assign toc_id = 'toc_' | append: escaped_folder | downcase %}
    {% if escaped_folders.size == 1 %}
    <section class="contents lonely" id="{{ toc_id }}">
    {% else %}
    <section class="contents" id="{{ toc_id }}" 
    {%- if escaped_currdir == escaped_folder and include.currdir != '/' %} hidden {%- endif -%}>
    {% endif %}    
    {% include_cached toc.html path=folder class="table-of-contents" h_min=1 h_max=2 item_class="nav-branch" anchor_class="nav-link" %}
    </section>
{% endfor %}
</section>
