<section class="navigation">
{% capture folder_directory %}
{% assign folders = "" | split: ',' %}
{% for page in site.html_pages %}
{% unless page.exclude %}
{% unless page.name == 'index.html' or page.name == 'index.md' %}
{% assign escaped_dir = page.dir | uri_escape %}
{% assign folders = folders | push: escaped_dir %}
{% endunless %}
{% endunless %}
{% endfor %}
{% assign folders = folders | uniq | sort %}
{% if include.currdir == '/' %}
<ul class="table-of-directories">
{% else %}
<ul class="table-of-directories hidden">
{% endif %}
{% for folder in folders %}
<li>
<a href="{{ folder }}" id="dir_{{ folder }}" class="tod-container">
<div class="directory-item">
{% include document-title.txt dir=folder info="title" %}
</div></a>
</li>
{% endfor %}
</ul>
{% endcapture %}

{{ folder_directory | markdownify | strip }}
<div class="back-to-documents">
    <p>Back to Documents <img class="btn-icon" src="{{ '/assets/images/chevron-up.svg' | relative_url }}"></p>
</div>
{% for folder in folders %}

{% assign include_currdir_decode = include.currdir | uri_escape %}
{% if include_currdir_decode == folder and include.currdir != '/' %}
<section class="contents" id="toc_{{ folder | replace: ' ', '_' }}">
{% else %}
<section class="contents" id="toc_{{ folder | replace: ' ', '_' }}" hidden>
{% endif %}    
    {% assign folder_path = folder %}
    {% include toc.html path=folder_path class="table-of-contents" h_min=1 h_max=2 item_class="nav-branch" anchor_class="nav-link" %}
</section>
{% endfor %}
</section>