// Variables
// ============================================================================
$spacing:                     12px;
$med-spacing:                 1.5 * $spacing;
$large-spacing:               2 * $spacing;
$max-content-width:           864px;
$body-padding:                calc( (100vw - 420px - 864px) / 2 );
$body-full-view-padding:      calc( (100vw - 864px) / 2 );
$nav-footer-height:           130px;
$nav-mobile-footer-height:    80px;
$nav-header-height:           80px;
$site-nav-collapse-duration:  0.2s;
$site-nav-collapse-timing:    ease-out;

// Implementation
// ============================================================================
$site-header-height:          105px;
$site-header-small-height:    80px;
$site-nav-width:              30vw;
$max-site-nav-width:          420px;
$site-nav-shadow-inset:       inset -7px 0 13px -5px rgba(0, 0, 0, 0.15);
$site-nav-shadow-outset:      7px 0 13px 5px rgba(0, 0, 0, 0.15);
$mobile-bottom-bar-height:    67px;

// Body
// ----
body {
  -webkit-overflow-scrolling: touch;

  mark {
    font-weight: bold;
  }
}

// Site Nav
// --------
.site-nav {
  // Position
  position: fixed;
  top: 0;
  z-index: 5;

  // Sidebar content could be too long for the page
  // The scrolling should be limited to the chapter selection area
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  height: 100%;
  background-color: $base-background-color;
  flex-direction: column;

  // Mobile has the sidebar hidden by default
  // Tablets and above have it showing by default
  // On larger screens the content stays in place and we move the sidebar in
  transition: left $site-nav-collapse-duration $site-nav-collapse-timing;
  left: -100vw;
  width: 100vw;
  &.menu-toggled { 
    left: 0;
    box-shadow: $site-nav-shadow-outset;
  }
  @include desktop-screen {
    z-index: 1;
    width: $site-nav-width;
    max-width: $max-site-nav-width;
    left: 0;
    &.menu-toggled { 
      left: -#{$site-nav-width};
      right: unset;
      box-shadow: none;
    }
  }

  @include large-screen {
    &.menu-toggled { 
      left: -#{$max-site-nav-width};
      right: unset;
      box-shadow: none;
    }
  }

  // Children
  .site-search {
    position: relative;
    display: block;
    height: 40px;
    background-color: $primary-brand-color;
    margin: 0 $item-spacing;
    flex: 0 0 auto;
    font-weight: normal;

    .search-container {
      height: 40px;

      .search-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: $spacing*2;
        display: block;
        height: 1.5em;
        width: auto;
        margin-top: auto;
        margin-bottom: auto;
        opacity: 0.5;
      }
      &.filled .search-icon { 
        opacity: 1; 
      }
      .clear-button {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        display: none;
        height: 1em;
        width: 1em;
        padding: $spacing;
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;
        .clear-icon {
          display: block;
          height: 1em;
          width: 1em;
          opacity: 0.5;
          path { fill: white; }
        }
        &:hover .clear-icon {
          opacity: 1;
        }
      }
      &.filled .clear-button { display: block; }
      input {
        display: block;
        width: 100%;
        border: none;
        outline: none;
        padding-right: calc(#{$med-spacing} * 2);
        // Make room for the search icon
        padding-left: calc(#{$large-spacing} * 3);
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 20px;
        color: white;
        opacity: 0.5;
        -webkit-font-smoothing: antialiased;
      }
      // Do not show the in-built X in IE
      input::-ms-clear {
        display: none;
      }
      input::placeholder {
        color: white;
      }
      &.filled input {
        opacity: 1;
      }
      input:disabled ~ .search-icon { display: none; }
    }
  }
  
  .description {
    text-align: center;
    padding: $spacing*2 $spacing;
    display: block;

    .description-logo {
      width: 80%;
      margin-bottom: $spacing;
    }
    .description-last-updated{
      font-size: 80%;
      color: $secondary-text-color;
    }

    a{
      text-decoration: none;
      cursor: pointer;
      color: $primary-text-color;
    }
  }

  .table-of-contents {
    padding-left: calc(#{$spacing} * 2);
    padding-bottom: calc(#{$spacing} * 2);
    padding-top: $spacing;
    box-sizing: border-box;
    min-height: calc(100% - #{$nav-mobile-footer-height});

    @include desktop-screen {
      padding-left: $large-spacing;
      padding-bottom: calc(#{$large-spacing} * 2);
      padding-top: $large-spacing;
    }

    ul, li {
      padding: 0;
      list-style: none;
      margin: 0;
    }
  }

  .nav-branch {
    position: relative;

    // Sub links
    & .nav-branch {
      display: none;
      margin-left: calc( 2 * #{$large-spacing});

      .nav-link {
        color: $primary-text-color;
      }

      .nav-link:hover, .nav-link.selected {
        color: $primary-brand-color;
      }

      .nav-link.selected {
        border-left: 3px solid $primary-brand-color;
      }
    }

    // Expanded main links
    &.expanded {
      & > .nav-link {
        font-weight: bold;
        color: $header-text-color;
      }
      & .nav-branch { display: block; }
    }
  }

  .nav-link {
    display: block;
    color: $secondary-text-color;
    margin-top: $spacing;
    margin-bottom: $spacing;
    padding-right: calc( #{$spacing} * 2);
    padding-left: $spacing;
    cursor: pointer;
    border-left: 3px solid transparent;
    user-select: none;
    font-size: $base-font-size;

    &:hover{
      text-decoration: none;
      color: $primary-text-color;
    }

    p {
      margin: $item-spacing/2 0;
      font-size: 90%;
    }
  }

  .nav-header {
    height: $nav-header-height;
    background-color: $primary-brand-color;
    @include desktop-screen {
      box-shadow: $site-nav-shadow-inset;
      border-right: 1px solid $primary-brand-color;
    }
  }

  @include mobile-screen {
    &.keyboard-expanded .nav-main {
      height: calc(100% - #{$nav-header-height});
    }
  }

  .nav-main {
    height: calc(100% - #{$mobile-bottom-bar-height} - #{$nav-header-height});
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $well-background-color;
    overscroll-behavior: contain;

    @include desktop-screen {
      height: calc(100% - #{$nav-footer-height} - #{$nav-header-height});
      border-right: 1px solid $divider-color;
      box-shadow: $site-nav-shadow-inset;
    }
  }

  .nav-footer {
    height: $nav-mobile-footer-height;
    display: none;
    align-items: center;
    justify-content: space-around;
    background: white;

    &.mobile {
      display: flex;
    }

    .attribution {
      div {
        text-transform: uppercase;
        font-size: 10px;
        padding-bottom: 10px;
        letter-spacing: 0.7px;
        color: $header-text-color;
      }
      img {
        max-height: 25px;
        max-width: 100px;
      }
    }

    @include desktop-screen {
      height: $nav-footer-height;
      box-shadow: $site-nav-shadow-inset;
      border-right: 1px solid $divider-color;
      border-top: 1px solid $divider-color;
      display: flex;
      &.mobile {
        display: none;
      }
      .attribution {
        div {
          text-transform: uppercase;
          font-size: 10px;
          padding-bottom: 10px;
        }
        img {
          max-height: 50px;
          max-width: 120px;
        }
      }
    }
  }
}

// Site Header
// -----------
.site-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  box-sizing: border-box;
  align-self: stretch;
  padding: $spacing calc(2 * #{$spacing});
  height: $site-header-height;
  background: white;
  transition-duration: $site-nav-collapse-duration;
  transition-timing-function: ease-out;

  @include mobile-screen {
    &.headroom--pinned {
      top: 0;
    }

    &.headroom--unpinned {
      top: -#{$site-header-height};
    }
  }
  @include desktop-screen {
    padding: $large-spacing calc( 3.25 * #{$large-spacing});
    left: $site-nav-width;
    .site-nav.menu-toggled ~ & { 
      left: 0;
      transform: none;
      height: $site-header-small-height;

      .description-container { 
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        margin-right: 180px;
      }
      .description-title {
        margin-bottom: 0;
      }
    }
  }

  @include large-screen {
    left: $max-site-nav-width;
  }

  background-color: $base-background-color;
  border-bottom: 1px solid $divider-color;
  // Other
  flex-direction: row;
  align-items: center;
  
  // Children
  .description-container {
    .description-title {
      color: $primary-brand-color;
      margin-bottom: 10px;
    }
    .description-last-updated {
      font-size: 13px;
      letter-spacing: 0.7px;
      color: #9b9b9b;
    }
  }
}

// Button Group
// ------------
.button-group-container {
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid $divider-color;
  background:white;
  
  @include mobile-screen {
    .site-nav.keyboard-expanded ~ & {
      display: none;
    }
  }

  .btn-group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-right: $spacing;
    
    .btn-item {
      padding: $med-spacing $spacing;
      cursor: pointer;
      color: #484848;
      display: flex;
      align-items: center;
      text-decoration: none;
      user-select: none;
      
      @include mobile-screen {
        &#menu-toggle-btn {
          position: absolute;
          width: $mobile-bottom-bar-height;
          left: 0;
          top: 0;
          bottom: 0;
          text-align: center;
          padding: 0;
          background: $primary-brand-color;

          .btn-icon.mobile {
            margin-right: auto;
            display: block;
          }
          .btn-icon.mobile.close {
            margin-right: auto;
            display: none;
          }
        }

        .site-nav.menu-toggled ~ &#menu-toggle-btn{ 
          background: $header-text-color;
          .btn-icon.mobile {
            display: none;
          }
          .btn-icon.mobile.close {
            display: block;
          }
        }
      }

      .btn-text {
        display: block;
      }

      .btn-icon {
        height: 1.6rem;
        user-select: none;
        pointer-events: none;
        display: none;
        margin-left: auto;
        margin-right: auto;

        &.hover {
          display: none;
        }
        &.mobile {
          display: block;
          margin-right: 10px;
        }
        @include desktop-screen {
          display: block;
          &.mobile {
            display: none;
          }
        }
      }
    }
  }
 
  @include desktop-screen {
    display: block;
    right: calc( 3.25 * #{$large-spacing});
    top: calc( 2 * #{$large-spacing});
    bottom: auto;
    width: auto;
    transition: top $site-nav-collapse-duration;
    border-top: none;

    .site-nav.menu-toggled ~ & { 
      top: 20px;

      #menu-toggle-btn {
        .btn-icon.hover {
          display: block;
        }

        .btn-icon:not(.hover) {
          display: none;
        }

        // Uncomment below if menu icon should be white on hover in toggled state
        // &:hover {
        //   .btn-icon.hover {
        //     display: none;
        //   }
  
        //   .btn-icon:not(.hover):not(.mobile) {
        //     display: block;
        //   }
        // }

        // // Needed to prevent doule tap bug for ios devices  
        // @media (hover: none) {
        //   &:hover {
        //     background: transparent;
        //     .btn-icon.hover {
        //       display: block;
        //     }
        //     .btn-icon:not(.hover):not(.mobile) {
        //       display: none;
        //     }
        //   }
        // }
      }

    }

    .btn-group {
      flex-direction: row;
      height: auto;
      margin-right: 0;

      .btn-item {
        flex-grow: 1;
        float: left; /* Float the buttons side by side */
        cursor: pointer;
        background: transparent;
        border: 1px solid $divider-color;
        padding: 10px 18px;
        // Fixed width here to allow popper to position properly in safari
        width: 16px;
        
        .btn-text {
          display: none;
        }

        .btn-icon {
          height: 1rem;
          width: 1rem;
          pointer-events: none;
          user-select: none;
        }

        &:hover {
          background: #eeeeee;
          .btn-icon.hover {
            display: block;
          }
          .btn-icon:not(.hover) {
            display: none;
          }
        }

        // Needed to prevent doule tap bug for ios devices
        @media (hover: none) {
          &:hover {
            background: transparent;
            .btn-icon.hover {
              display: none;
            }
            .btn-icon:not(.hover):not(.mobile) {
              display: block;
            }
          }
        }

        &:not(:last-child) {
          border-right: none; /* Prevent double borders */
        }
        &:first-child {
          border-radius: 4px 0px 0px 4px;
        }
        &:last-child {
          border-radius: 0px 4px 4px 0px;
        }
      }
    }
  }
}

// Banner
// ------------
$banner-bg: #15499b;
#banner {
  background: $banner-bg;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
  font-size: 14px;
  line-height: normal;
  width: 330px;
  max-width: 80vw;
  padding: $spacing $med-spacing;
  color: #f0f4f6;
  display: none;
  -webkit-font-smoothing: antialiased;
  border-radius: 4px;
  align-items: center;
  #close-banner {
    margin-left: 15px;
    cursor: pointer;
    height: 100%;
    img {
      width: 24px;
      height: 24px;
      max-width: 24px;
    }
  }
  .popper__arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;
    .popper__arrow {
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent $banner-bg transparent;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="top"] {
    margin-bottom: 5px;
    .popper__arrow {
      border-width: 5px 5px 0 5px;
      border-color: $banner-bg transparent transparent transparent;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}



// Site Main
//----------
.site-main {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: calc(#{$site-header-height} + #{$spacing}) calc(2 * #{$spacing}) calc(#{$spacing} + #{$mobile-bottom-bar-height});
  height: auto;
  overflow: auto;

  // On small screens fill the screen with content
  // Shift everything right when menu is open
  box-sizing: border-box;
  transition-duration: $site-nav-collapse-duration;
  transition-timing-function: ease-out;

  // On medium screens fill the residual space
  // Expand to fill when the menu is closed
  @include desktop-screen {
    left: $site-nav-width;
    padding: calc(#{$site-header-height} + #{$large-spacing}) calc(3.25 * #{$large-spacing}) $large-spacing;
    height: auto;

    .site-nav.menu-toggled ~ & { 
      left: 0;
      padding-top: calc(#{$site-header-small-height} + #{$large-spacing});
      transform: none;
      height: auto;
    }
  }

  @include large-screen {
    left: $max-site-nav-width;
    padding-left: $body-padding;
    padding-right: $body-padding;
    .site-nav.menu-toggled ~ & { 
      padding-left: $body-full-view-padding;
      padding-right: $body-full-view-padding;
    }
  }

  h1 { padding-top: calc(1.6 * #{$block-spacing}); border-top: 1px solid $divider-color;}
  h2 { padding-top: calc(1.4 * #{$block-spacing}); border-top: 1px solid $divider-color;}
  h3 { padding-top: calc(1.2 * #{$block-spacing}); border-top: 1px solid $divider-color;}
  h4 { padding-top: calc(1.0 * #{$block-spacing}); border-top: 1px solid $divider-color;}
  h5 { padding-top: calc(0.8 * #{$block-spacing}); border-top: 1px solid $divider-color;}
  h6 { padding-top: calc(0.6 * #{$block-spacing}); border-top: 1px solid $divider-color;}
  h1, h2, h3, h4, h5, h6 {
    // padding-top: $site-header-height;
    &:first-child { margin-top: 0; padding-top: 0; border-top: 0px; }
  }
  @include desktop-screen {
    // Hack to get browser hash scrolling to work nicely with a fixed header
    h1 { padding-top: calc(2.0 * #{$block-spacing}); border-top: 1px solid $divider-color;}
    h2 { padding-top: calc(1.8 * #{$block-spacing}); border-top: 1px solid $divider-color;}
    h3 { padding-top: calc(1.6 * #{$block-spacing}); border-top: 1px solid $divider-color;}
    h4 { padding-top: calc(1.4 * #{$block-spacing}); border-top: 1px solid $divider-color;}
    h5 { padding-top: calc(1.2 * #{$block-spacing}); border-top: 1px solid $divider-color;}
    h6 { padding-top: calc(1.0 * #{$block-spacing}); border-top: 1px solid $divider-color;}
  }
}

//search-results
.search-results{
  padding-top: $spacing;
  padding-left: $spacing*2;
  padding-bottom: $spacing;
  box-sizing: border-box;
  min-height: calc(100% - #{$nav-mobile-footer-height});
  
  .nav-link{
    border-bottom: solid 1px $divider-color;
    color: $secondary-text-color;
  }

  .nav-link.selected, .nav-link:hover{
    color: $primary-text-color;
  }

  h1{
    font-size: 1.5rem;
    margin-top: $spacing;
    margin-bottom: $spacing;
  }
}

//not-found search results{
.not-found{
  margin: $spacing*2 $spacing;
}


.site-branding{
  position: fixed;
  bottom: $spacing;
  right: $spacing;
  padding: $spacing;
  background: $divider-color;
  border-radius: $spacing;
}

//custom-scrollbar
/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #c8c8c8;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}