
// Body
// ----
body {
  -webkit-overflow-scrolling: touch;

  mark {
    font-weight: bold;
  }
}

.site-header {
  z-index: 10;
  height: $site-header-height;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px inset $divider-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(1.5 * #{$large-spacing});

  @include mobile-screen {
    & {
      display: none;
    }
  }

  .site-header-left {
    display: flex;
    align-items: baseline;

    a:hover {
      text-decoration: none;
    }

    .site-header-text {
      color: $primary-brand-color;
      margin: 0;
      font-family: $base-font-family;
      font-size: 30px;
    }

    .site-last-updated {
      margin: 0;
      color: $secondary-text-color;
      font-size: 12px;
      margin-left: $med-spacing;
    }
  }

  .site-header-right {
    display: flex;
    flex-direction: row;
    align-items: center;

    .agency-logo {
      max-width: 180px;
      max-height: 40px;
    }
  }
}


// Document Header
// -----------
.doc-header {
  position: fixed;
  z-index: 2;
  top: $site-header-height;
  left: 0;
  right: 0;
  display: flex;
  box-sizing: border-box;
  align-self: stretch;
  padding: $spacing calc(2 * #{$spacing});
  height: $nav-header-height;
  background: white;
  transition-duration: $site-nav-collapse-duration;
  transition-timing-function: ease-out;

  &.hidden {
    display: none;
  }

  @include mobile-screen {
    top: 0;
    &.headroom--pinned {
      top: 0;
    }

    &.headroom--unpinned {
      top: -#{$nav-header-height};
    }
  }
  @include desktop-screen {
    padding: $large-spacing calc(3.25 * #{$large-spacing});
    left: $site-nav-width;
    .site-nav.menu-toggled ~ & {
      left: 0;
      transform: none;
      height: $doc-header-small-height;

      .description-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        margin-right: 180px;
      }
      .description-title {
        margin-bottom: 0;
      }
    }
  }

  @include large-screen {
    left: $max-site-nav-width;
  }

  background-color: $base-background-color;
  border-bottom: 1px solid $divider-color;
  // Other
  flex-direction: row;
  align-items: center;

  // Children
  .description-container {
    .description-title {
      color: $primary-brand-color;
      margin-bottom: 10px;
    }
    .description-subtitle{
      font-size: 13px;
      letter-spacing: 0.7px;
      color: #9b9b9b;
    }
  }
}

// Site Main
//----------
.site-main {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: calc(#{$nav-header-height} + #{$spacing}) calc(2 * #{$spacing})
    calc(#{$spacing} + #{$mobile-bottom-bar-height});
  height: auto;
  overflow: auto;

  // On small screens fill the screen with content
  // Shift everything right when menu is open
  box-sizing: border-box;
  transition-duration: $site-nav-collapse-duration;
  transition-timing-function: ease-out;

  // On medium screens fill the residual space
  // Expand to fill when the menu is closed
  @include desktop-screen {
    left: $site-nav-width;
    padding: calc(#{$nav-header-height} + #{$large-spacing} + #{$site-header-height})
      calc(3.25 * #{$large-spacing}) $large-spacing;
    height: auto;

    .site-nav.menu-toggled ~ & {
      left: 0;
      padding-top: calc(#{$doc-header-small-height} + #{$large-spacing});
      transform: none;
      height: auto;
    }
  }

  @include large-screen {
    left: $max-site-nav-width;
    padding-left: $body-padding;
    padding-right: $body-padding;
    .site-nav.menu-toggled ~ & {
      padding-left: $body-full-view-padding;
      padding-right: $body-full-view-padding;
    }
  }

  h1 {
    padding-top: calc(1.6 * #{$block-spacing});
    border-top: 1px solid $divider-color;
  }
  h2 {
    padding-top: calc(1.4 * #{$block-spacing});
    border-top: 1px solid $divider-color;
  }
  h3 {
    padding-top: calc(1.2 * #{$block-spacing});
    border-top: 1px solid $divider-color;
  }
  h4 {
    padding-top: calc(1 * #{$block-spacing});
    border-top: 1px solid $divider-color;
  }
  h5 {
    padding-top: calc(0.8 * #{$block-spacing});
    border-top: 1px solid $divider-color;
  }
  h6 {
    padding-top: calc(0.6 * #{$block-spacing});
    border-top: 1px solid $divider-color;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // padding-top: $nav-header-height;
    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: 0px;
    }
  }
  @include desktop-screen {
    // Hack to get browser hash scrolling to work nicely with a fixed header
    h1 {
      padding-top: calc(2 * #{$block-spacing});
      border-top: 1px solid $divider-color;
    }
    h2 {
      padding-top: calc(1.8 * #{$block-spacing});
      border-top: 1px solid $divider-color;
    }
    h3 {
      padding-top: calc(1.6 * #{$block-spacing});
      border-top: 1px solid $divider-color;
    }
    h4 {
      padding-top: calc(1.4 * #{$block-spacing});
      border-top: 1px solid $divider-color;
    }
    h5 {
      padding-top: calc(1.2 * #{$block-spacing});
      border-top: 1px solid $divider-color;
    }
    h6 {
      padding-top: calc(1 * #{$block-spacing});
      border-top: 1px solid $divider-color;
    }
  }
}

//search-results
.search-results {
  padding-top: $spacing;
  padding-left: $spacing * 2;
  padding-bottom: $spacing;
  box-sizing: border-box;
  min-height: 100%;
  transition: all 0.1s;

  .nav-link {
    border-bottom: solid 1px $divider-color;
    color: $secondary-text-color;
  }

  .nav-link.selected,
  .nav-link:hover {
    color: $primary-text-color;
  }

  h1 {
    font-size: 1.5rem;
    margin-top: $spacing;
    margin-bottom: $spacing;
  }
}

//not-found search results{
.not-found {
  margin: $spacing * 2 $spacing;
}

.site-branding {
  position: fixed;
  bottom: $spacing;
  right: $spacing;
  padding: $spacing;
  background: $divider-color;
  border-radius: $spacing;
}

//custom-scrollbar
/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #c8c8c8;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

//Examples
.examples-box {
  padding: 10px;
  border: 1px solid $divider-color;
  border-radius: $base-border-radius;
}

//Videos
.opendoc-video {
  text-align: center;
}
