// Variables
// ============================================================================
$spacing: 12px;
$med-spacing: 1.5 * $spacing;
$large-spacing: 2 * $spacing;
$max-content-width: 864px;
$body-padding: calc((100vw - 420px - 864px) / 2);
$body-full-view-padding: calc((100vw - 864px) / 2);

$site-header-height: 80px;
$nav-header-height: 128px;
$search-container-height: 46px;
$site-nav-collapse-duration: 0.2s;
$site-nav-collapse-timing: ease-out;
$doc-header-small-height: 80px;
$site-nav-width: 30vw;
$back-to-docs-width: calc(
  1.5 * #{$large-spacing} + #{$search-container-height}
);
$max-site-nav-width: 420px;
$site-nav-shadow-inset: inset -7px 0 13px -5px rgba(0, 0, 0, 0.15);
$site-nav-header-shadow-inset: inset -7px 7px 13px -5px rgba(0, 0, 0, 0.15);
$site-nav-shadow-outset: 7px 0 13px 5px rgba(0, 0, 0, 0.15);
$mobile-bottom-bar-height: 67px;

// Body
// ----
body {
  -webkit-overflow-scrolling: touch;

  mark {
    font-weight: bold;
  }
}

.site-header {
  z-index: 10;
  height: $site-header-height;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px inset $divider-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(1.5 * #{$large-spacing});

  @include mobile-screen {
    & {
      display: none;
    }
  }

  .site-header-left {
    display: flex;
    align-items: baseline;

    .site-header-text {
      color: $primary-brand-color;
      margin: 0;
      font-family: $base-font-family;
      font-size: 30px;
    }

    .site-last-updated {
      margin: 0;
      color: $secondary-text-color;
      font-size: 12px;
      margin-left: $med-spacing;
    }
  }

  .site-header-right {
    display: flex;
    flex-direction: row;
    align-items: center;

    .agency-logo {
      max-width: 180px;
      max-height: 40px;
    }
  }
}

// Site Nav
// --------
.site-nav {
  // Position
  position: fixed;
  top: 0;
  z-index: 5;

  // Sidebar content could be too long for the page
  // The scrolling should be limited to the chapter selection area
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  height: 100%;
  background-color: $base-background-color;
  flex-direction: column;

  // Mobile has the sidebar hidden by default
  // Tablets and above have it showing by default
  // On larger screens the content stays in place and we move the sidebar in
  transition: left $site-nav-collapse-duration $site-nav-collapse-timing;
  left: -100vw;
  width: 100vw;
  &.menu-toggled {
    left: 0;
    box-shadow: $site-nav-shadow-outset;
  }
  @include desktop-screen {
    z-index: 1;
    width: $site-nav-width;
    max-width: $max-site-nav-width;
    top: $site-header-height;
    left: 0;
    &.menu-toggled {
      left: -#{$site-nav-width};
      right: unset;
      box-shadow: none;
    }
  }

  @include large-screen {
    &.menu-toggled {
      left: -#{$max-site-nav-width};
      right: unset;
      box-shadow: none;
    }
  }

  .back-to-documents {
    min-height: calc(100vh - #{$nav-header-height});
    width: $back-to-docs-width;
    border-right: $divider-color 1px solid;
    cursor: pointer;

    p {
      height: $back-to-docs-width;
      width: calc(100vh - 128px);
      line-height: $back-to-docs-width;
      text-transform: uppercase;
      color: $header-text-color;
      font-size: 14px;
      letter-spacing: 1px;
      transform: rotate(-90deg) translateY(calc(128px - 100vh));
      transform-origin: right 0;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      img {
        height: 30px;
        padding-left: 40px;
        padding-right: $large-spacing;
      }
    }
  }

  .navigation {
    display: flex;
    flex-direction: row;

    &.hidden {
      display: none;
    }

    ul.table-of-directories {
      list-style: none;
      padding-left: 0;
      margin-left: 0;
      min-width: 100%;
      max-width: $max-site-nav-width;
      transition: $site-nav-collapse-duration;

      &.hidden {
        margin-left: -100%;
      }

      li {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;

        .tod-padding {
          width: $back-to-docs-width;
          height: 60px;
        }

        a {
          color: $secondary-text-color;
          line-height: 60px;
          flex: 1;
          border-bottom: 2px inset $well-background-color;
          &:hover {
            color: $primary-text-color;
            text-decoration: none;
          }
        }

        &:hover .tod-padding,
        &:hover a {
          background-color: $well-background-color;
        }
      }
    }
  }

  .contents {
    box-sizing: border-box;
    min-height: calc(100vh - #{$nav-header-height});
    width: 100%;

    ul.table-of-contents {
      padding-top: $large-spacing;
      padding-bottom: $large-spacing;
      margin: 0;
      padding-left: $large-spacing;
    }

    ul,
    li {
      padding: 0;
      list-style: none;
      margin: 0;
      display: block;
    }
  }

  .nav-branch {
    position: relative;
    border-bottom: 2px solid $well-background-color;
    display: flex;
    flex-direction: row;

    .toc-padding {
      height: 100%;
      width: $large-spacing;
    }

    // Sub links
    & .nav-branch {
      display: none;
      margin-left: $large-spacing;
      border-bottom: 2px solid $well-background-color;

      .nav-link {
        padding-left: $large-spacing;
        border-left: 2px solid $well-background-color;
        color: $primary-text-color;

        &:hover,
        &.selected {
          color: $primary-brand-color;
        }

        &.selected {
          border-left: 2px solid $primary-brand-color;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    // Expanded main links
    &.expanded {
      & > .nav-link {
        font-weight: bold;
        color: $header-text-color;
        border-bottom: 2px solid $well-background-color;
      }
      & .nav-branch {
        display: block;
      }
    }
  }

  .nav-link {
    display: block;
    color: $secondary-text-color;
    padding-top: $spacing;
    padding-bottom: $spacing;
    padding-right: calc(#{$spacing} * 2);
    cursor: pointer;
    user-select: none;
    font-size: $base-font-size;

    &:hover {
      text-decoration: none;
      color: $primary-text-color;
      background-color: $well-background-color;
    }

    p {
      margin: $item-spacing/2 0;
      font-size: 90%;
    }
  }

  .nav-header {
    height: calc(#{$nav-header-height} - 1px);
    background-color: $well-background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    @include desktop-screen {
      box-shadow: $site-nav-header-shadow-inset;
      border-bottom: 1px solid $divider-color;
    }

    // Children
    .search-container {
      width: calc(100% - 3 * #{$large-spacing});
      border-radius: 4px;
      height: $search-container-height;
      display: flex;
      flex-direction: row;
      border: 2px solid $primary-brand-color;

      .search-icon-container {
        background-color: $primary-brand-color;
        height: 100%;
        width: $search-container-height;
        min-width: $search-container-height;
        display: flex;
        align-items: center;
        justify-content: center;

        .search-icon {
          left: 1.3rem;
          display: block;
          height: 1.3em;
          width: auto;
        }
      }
      .clear-button {
        opacity: 0;
        height: 1em;
        width: 1em;
        padding: $spacing;
        margin-top: auto;
        margin-bottom: auto;
        .clear-icon {
          display: block;
          height: 1em;
          width: 1em;
          opacity: 0.5;
          path {
            fill: $header-text-color;
          }
        }
        &:hover .clear-icon {
          opacity: 1;
        }
      }
      &.filled .clear-button {
        opacity: 1;
        cursor: pointer;
      }
      input {
        display: block;
        height: $search-container-height;
        flex: 1;
        border: none;
        outline: none;
        padding-right: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        color: black;
        opacity: 0.5;
        // -webkit-font-smoothing: antialiased;
      }
      // Do not show the in-built X in IE
      input::-ms-clear {
        display: none;
      }
      input::placeholder {
        color: $header-text-color;
        opacity: 0.5;
      }
      &.filled input {
        opacity: 1;
      }
      input:disabled ~ .search-icon {
        display: none;
      }
    }
  }

  @include mobile-screen {
    &.menu-toggled.keyboard-expanded .nav-main {
      height: calc(100% - #{$nav-header-height});
    }
  }

  .nav-main {
    height: calc(100% - #{$mobile-bottom-bar-height} - #{$nav-header-height});
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $base-background-color;
    overscroll-behavior: contain;

    @include desktop-screen {
      height: calc(100% - #{$nav-header-height});
      border-right: 1px solid $divider-color;
      box-shadow: $site-nav-shadow-inset;
    }

    @include mobile-screen {
      .nav-link {
        font-size: $mobile-font-size;
      }
    }
  }
}

// Document Header
// -----------
.doc-header {
  position: fixed;
  z-index: 2;
  top: $site-header-height;
  left: 0;
  right: 0;
  display: flex;
  box-sizing: border-box;
  align-self: stretch;
  padding: $spacing calc(2 * #{$spacing});
  height: $nav-header-height;
  background: white;
  transition-duration: $site-nav-collapse-duration;
  transition-timing-function: ease-out;

  @include mobile-screen {
    top: 0;
    &.headroom--pinned {
      top: 0;
    }

    &.headroom--unpinned {
      top: -#{$nav-header-height};
    }
  }
  @include desktop-screen {
    padding: $large-spacing calc(3.25 * #{$large-spacing});
    left: $site-nav-width;
    .site-nav.menu-toggled ~ & {
      left: 0;
      transform: none;
      height: $doc-header-small-height;

      .description-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        margin-right: 180px;
      }
      .description-title {
        margin-bottom: 0;
      }
    }
  }

  @include large-screen {
    left: $max-site-nav-width;
  }

  background-color: $base-background-color;
  border-bottom: 1px solid $divider-color;
  // Other
  flex-direction: row;
  align-items: center;

  // Children
  .description-container {
    .description-title {
      color: $primary-brand-color;
      margin-bottom: 10px;
    }
    .description-last-updated {
      font-size: 13px;
      letter-spacing: 0.7px;
      color: #9b9b9b;
    }
  }
}

// Site Main
//----------
.site-main {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: calc(#{$nav-header-height} + #{$spacing} + #{$site-header-height}) calc(2 * #{$spacing})
    calc(#{$spacing} + #{$mobile-bottom-bar-height});
  height: auto;
  overflow: auto;

  // On small screens fill the screen with content
  // Shift everything right when menu is open
  box-sizing: border-box;
  transition-duration: $site-nav-collapse-duration;
  transition-timing-function: ease-out;

  // On medium screens fill the residual space
  // Expand to fill when the menu is closed
  @include desktop-screen {
    left: $site-nav-width;
    padding: calc(#{$nav-header-height} + #{$large-spacing})
      calc(3.25 * #{$large-spacing}) $large-spacing;
    height: auto;

    .site-nav.menu-toggled ~ & {
      left: 0;
      padding-top: calc(#{$doc-header-small-height} + #{$large-spacing});
      transform: none;
      height: auto;
    }
  }

  @include large-screen {
    left: $max-site-nav-width;
    padding-left: $body-padding;
    padding-right: $body-padding;
    .site-nav.menu-toggled ~ & {
      padding-left: $body-full-view-padding;
      padding-right: $body-full-view-padding;
    }
  }

  h1 {
    padding-top: calc(1.6 * #{$block-spacing});
    border-top: 1px solid $divider-color;
  }
  h2 {
    padding-top: calc(1.4 * #{$block-spacing});
    border-top: 1px solid $divider-color;
  }
  h3 {
    padding-top: calc(1.2 * #{$block-spacing});
    border-top: 1px solid $divider-color;
  }
  h4 {
    padding-top: calc(1 * #{$block-spacing});
    border-top: 1px solid $divider-color;
  }
  h5 {
    padding-top: calc(0.8 * #{$block-spacing});
    border-top: 1px solid $divider-color;
  }
  h6 {
    padding-top: calc(0.6 * #{$block-spacing});
    border-top: 1px solid $divider-color;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // padding-top: $nav-header-height;
    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: 0px;
    }
  }
  @include desktop-screen {
    // Hack to get browser hash scrolling to work nicely with a fixed header
    h1 {
      padding-top: calc(2 * #{$block-spacing});
      border-top: 1px solid $divider-color;
    }
    h2 {
      padding-top: calc(1.8 * #{$block-spacing});
      border-top: 1px solid $divider-color;
    }
    h3 {
      padding-top: calc(1.6 * #{$block-spacing});
      border-top: 1px solid $divider-color;
    }
    h4 {
      padding-top: calc(1.4 * #{$block-spacing});
      border-top: 1px solid $divider-color;
    }
    h5 {
      padding-top: calc(1.2 * #{$block-spacing});
      border-top: 1px solid $divider-color;
    }
    h6 {
      padding-top: calc(1 * #{$block-spacing});
      border-top: 1px solid $divider-color;
    }
  }
}

//search-results
.search-results {
  padding-top: $spacing;
  padding-left: $spacing * 2;
  padding-bottom: $spacing;
  box-sizing: border-box;
  min-height: 100%;
  transition: all 0.1s;

  .nav-link {
    border-bottom: solid 1px $divider-color;
    color: $secondary-text-color;
  }

  .nav-link.selected,
  .nav-link:hover {
    color: $primary-text-color;
  }

  h1 {
    font-size: 1.5rem;
    margin-top: $spacing;
    margin-bottom: $spacing;
  }
}

//not-found search results{
.not-found {
  margin: $spacing * 2 $spacing;
}

.site-branding {
  position: fixed;
  bottom: $spacing;
  right: $spacing;
  padding: $spacing;
  background: $divider-color;
  border-radius: $spacing;
}

//custom-scrollbar
/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #c8c8c8;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

//Examples
.examples-box {
  padding: 10px;
  border: 1px solid $divider-color;
  border-radius: $base-border-radius;
}

//Videos
.opendoc-video {
  text-align: center;
}
