// Site Nav
// --------
.site-nav {
  // Position
  position: fixed;
  top: $mobile-site-header-height;
  z-index: 5;

  // Sidebar content could be too long for the page
  // The scrolling should be limited to the chapter selection area
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  height: 100%;
  background-color: $base-background-color;
  flex-direction: column;

  // Mobile has the sidebar hidden by default
  // Tablets and above have it showing by default
  // On larger screens the content stays in place and we move the sidebar in
  transition: left $site-nav-collapse-duration $site-nav-collapse-timing;
  left: -100vw;
  width: 100vw;
  body.menu-toggled & {
    left: 0;
    box-shadow: $site-nav-shadow-outset;
  }
  @include desktop-screen {
    z-index: 1;
    width: $site-nav-width;
    max-width: $max-site-nav-width;
    top: $site-header-height;
    left: 0;
    body.menu-toggled & {
      left: -#{$site-nav-width};
      right: unset;
      box-shadow: none;
    }
  }

  @include large-screen {
    body.menu-toggled & {
      left: -#{$max-site-nav-width};
      right: unset;
      box-shadow: none;
    }
  }

  .back-to-documents {
    min-height: calc(100vh - #{$nav-header-height});
    width: $back-to-docs-width;
    border-right: $divider-color 1px solid;
    cursor: pointer;

    p {
      height: $back-to-docs-width;
      width: calc(100vh - 128px);
      line-height: $back-to-docs-width;
      text-transform: uppercase;
      color: $header-text-color;
      font-size: 14px;
      letter-spacing: 1px;
      transform: rotate(-90deg) translateY(calc(128px - 100vh));
      transform-origin: right 0;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      img {
        height: 30px;
        padding-left: 40px;
        padding-right: $large-spacing;
      }
    }
  }

  .navigation {
    display: flex;
    flex-direction: row;

    &.hidden {
      display: none;
    }

    ul.table-of-directories {
      list-style: none;
      padding-left: 0;
      margin-left: 0;
      min-width: 100%;
      max-width: $max-site-nav-width;
      transition: $site-nav-collapse-duration;

      &.hidden {
        margin-left: -100%;
      }

      li {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;

        .tod-container {
          flex: 1;
          padding-left: $back-to-docs-width;
          &:hover {
            color: $primary-text-color;
            text-decoration: none;
          }
        }

        .directory-item {
          color: $secondary-text-color;
          border-bottom: 2px inset $well-background-color;
          padding: $spacing 0;
          font-size: calc(#{$nav-font-size} + 2px);
        }

        &:hover a {
          background-color: $well-background-color;
          .directory-item {
            color: $primary-text-color;
          }
        }
      }
    }
  }

  .contents {
    box-sizing: border-box;
    width: 100%;

    ul.table-of-contents {
      margin: 0;
      padding: $large-spacing 0;
      max-height: calc(100vh - #{$nav-header-height} - #{$site-header-height} - (2 * #{$large-spacing}));
      overflow: auto;
    }

    ul,
    li {
      padding: 0;
      list-style: none;
      margin: 0;
      display: block;
    }
  }

  .nav-branch {
    position: relative;
    display: flex;
    flex-direction: row;

    .nav-link {
      font-size: $nav-font-size;
      padding-left: $large-spacing;
      color: $secondary-text-color;
      display: block;

      &:hover {
        text-decoration: none;
        color: $primary-text-color;
        background-color: $well-background-color;
      }

      .directory-item {
        border-bottom: 2px solid $well-background-color;
        padding: $spacing 0;
        display: inline-block;
        width: 100%;
      }
    }

    // Sub links
    & .nav-branch {
      display: none;
      margin-left: $large-spacing;
      padding-left: $large-spacing;

      .nav-link {
        border-left: 2px solid $well-background-color;
        border-bottom: 2px solid $well-background-color;

        &:hover,
        &.selected {
          color: $primary-brand-color;
        }

        &.selected {
          border-left: 2px solid $primary-brand-color;
        }

        .directory-item {
          border-bottom: none;
        }
      }

      &:last-child {
        border-bottom: 2px solid $well-background-color;

        .nav-link {
          border-bottom: none;
        }
      }
    }

    &:last-child {
      border-bottom: none;
    }

    // Expanded main links
    &.expanded {
      & > .nav-link {
        font-weight: bold;
        color: $header-text-color;
      }
      & .nav-branch {
        display: block;
      }
    }
  }

  .nav-header {
    height: calc(#{$nav-header-height} - 1px);
    background-color: $well-background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    @include desktop-screen {
      box-shadow: $site-nav-header-shadow-inset;
      border-bottom: 1px solid $divider-color;
    }

    .search-filter {
      border-radius: 4px;
      background: $header-text-color;
      color: white;
      text-transform: uppercase;
      font-size: 9px;
      flex: 0 0 auto;
      max-width: 70px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-left: 5px;
      padding: 5px;

      &.hidden {
        display: none;
      }
    }

    // Children
    .search-box {
      border-radius: 4px;
      height: $search-box-height;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 2px solid $primary-brand-color;

      .search-icon-container {
        background-color: $primary-brand-color;
        height: 100%;
        flex: 0 0 $search-box-height;
        display: flex;
        align-items: center;
        justify-content: center;

        .search-icon {
          left: 1.3rem;
          display: block;
          height: 1.3em;
          width: auto;
        }
      }
      .clear-button {
        opacity: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 $search-box-height;

        .clear-icon {
          display: block;
          height: 1em;
          width: 1em;
          opacity: 0.5;
          path {
            fill: $header-text-color;
          }
        }
        &:hover .clear-icon {
          opacity: 1;
        }
      }
      &.filled .clear-button {
        opacity: 1;
        cursor: pointer;
      }
      input {
        display: block;
        height: $search-box-height;
        flex: 1 1 0;
        min-width: 0;
        border: none;
        outline: none;
        color: black;
        opacity: 0.5;
        margin: 0;
        margin-left: 15px;
        padding: 0;
        // -webkit-font-smoothing: antialiased;
      }
      // Do not show the in-built X in IE
      input::-ms-clear {
        display: none;
      }
      input::placeholder {
        color: $header-text-color;
        opacity: 0.5;
      }
      &.filled input {
        opacity: 1;
      }
      input:disabled ~ .search-icon {
        display: none;
      }
    }
  }

  .nav-main {
    height: calc(100% - #{$nav-header-height});
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $base-background-color;
    overscroll-behavior: contain;

    @include desktop-screen {
      height: calc(100% - #{$nav-header-height});
      border-right: 1px solid $divider-color;
      box-shadow: $site-nav-shadow-inset;
    }
  }

  .search-container {
    width: $search-box-width;
    position: relative;
  }

  // Search Results
  .search-results {
    width: 100%;
    position: absolute;
    background: white;
    height: auto;
    max-height: calc(100vh - #{$nav-header-height} - #{$site-header-height});
    overflow: auto;
    z-index: 10;
    box-shadow: 0 5px 20px 0 rgba(155, 155, 155, 0.3);
    display: none;

    .search-link {
      border-bottom: 1px solid $divider-color;
      display: flex;
      color: $secondary-text-color;

      cursor: pointer;
      user-select: none;
      font-size: $base-font-size;

      &.selected {
        color: $primary-text-color;
        background-color: $well-background-color;
      }

      &:hover {
        text-decoration: none;
        color: $primary-text-color;
        background-color: $well-background-color;
      }

      //not-found search results{
      .not-found {
        margin: $spacing * 2 $spacing;
      }
      &:last-child {
        border-bottom: none;
      }

      p {
        margin: 0;
      }

      .left {
        width: 25%;
        min-width: 25%;
        padding: $spacing $med-spacing;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        word-wrap: break-word;
        display: block;
      }

      .right {
        border-left: 1px solid $divider-color;
        padding: $spacing $med-spacing;
        overflow: hidden;

        .search-header {
          font-weight: bold;
          font-size: 14px;
          margin-bottom: 5px;
        }

        .search-content {
          font-size: 13px;
        }
      }
    }
  }
}
