#print-content {
    /* print styles go here */
    .doc-header{
      display: none;
    }
    #float-buttons{
      display: none;
    }
    .site-branding{
      display: none;
    }
    .site-main {
      height: auto;
      left: 0;
      top: 0;
      position: relative;
      padding-top: 20px;
    }
    .description {
      padding-top: 10px;
      text-align: center;
    }
    .description-logo {
      max-width: 380px;
    }
}

@media print {
  @page {
    size: A4;
    margin: 1.5cm;
  }

  .site-main {
    height: auto;
    left: 0;
    top: 0;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .no-print {
    display: none !important;
  }
}
