// Button Group
// ------------
.toolbar-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $divider-color;
  border-radius: 4px;
  overflow: hidden;
  z-index: 10000;
  flex-shrink: 0;
  right: $large-spacing;
  top: calc(50% - (#{$toolbar-container-height} / 2));
  transition: top 0.3s;

  .toolbar-button {
    cursor: pointer;
    background: transparent;
    // Fixed width here to allow popper to position properly in safari
    width: $toolbar-button-height;
    height: $toolbar-button-height;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $divider-color;

    &:last-child {
      border-bottom: none;
    }

    .btn-icon {
      height: 1.2rem;
      width: 1.2rem;
      pointer-events: none;
      user-select: none;
      display: block;
    }

    .mobile-btn-icon {
      display: none;
    }

    &:not(:hover) {
      .btn-icon.hover {
        display: none;
      }
    }

    &:hover {
      background: $well-background-color;
      .btn-icon.hover {
        display: block;
      }
      .btn-icon:not(.hover) {
        display: none;
      }
    }

    &:active {
      background: $divider-color;
    }

    // Needed to prevent doule tap bug for ios devices
    @media (hover: none) {
      &:hover {
        background: transparent;
        .btn-icon.hover {
          display: none;
        }
        .btn-icon:not(.hover) {
          display: block;
        }
      }
    }
    //  specifically for menu button
    #menu-toggle:checked ~ .btn-icon.hover {
      display: block;
    }

    #menu-toggle:checked ~ .btn-icon:not(.hover) {
      display: none;
    }
  }

  // For mobile menu
  @include mobile-screen {
    right: 0;
    top: 0;
    border-radius: 0;
    border: none;

    .toolbar-button {
      border: none;
      background: $primary-brand-color;
      width: $mobile-site-header-height;
      height: $mobile-site-header-height;

      &:not(#menu-toggle-btn) {
        display: none;
      }

      &:hover {
        background: $primary-brand-color;
      }

      .mobile-btn-icon {
        display: block;
        &.close {
          display: none;
        }
      }
      #menu-toggle:checked {
        & ~ .mobile-btn-icon.close {
          display: block;
        }
        & ~ .mobile-btn-icon:not(.close) {
          display: none;
        }
      }
      // Always disable btn-icon in mobile view
      .btn-icon {
        display: none !important;
      }
    }
  }
}

@include mobile-screen {
  body.menu-toggled #menu-toggle-btn {
    background: $header-text-color;
  }
}

// Banner
// ------------
$banner-bg: #15499b;
#banner {
  background: $banner-bg;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
  font-size: 14px;
  line-height: normal;
  width: 330px;
  max-width: 80vw;
  padding: $spacing $med-spacing;
  color: #f0f4f6;
  display: none;
  -webkit-font-smoothing: antialiased;
  border-radius: 4px;
  align-items: center;
  #close-banner {
    margin-left: 15px;
    cursor: pointer;
    height: 100%;
    img {
      width: 24px;
      height: 24px;
      max-width: 24px;
    }
  }
  .popper__arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;
    .popper__arrow {
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent $banner-bg transparent;
      top: -4px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="top"] {
    margin-bottom: 5px;
    .popper__arrow {
      border-width: 5px 5px 0 5px;
      border-color: $banner-bg transparent transparent transparent;
      bottom: -4px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
