.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
  padding-top: 3vh;
  margin-top: $site-doc-header-height;
  @include mobile-screen {
    margin-top: $mobile-site-doc-header-height;
  }

  .welcome-text {
    font-size: 24px;
    color: $header-text-color;
    width: auto;
    text-align: center;
    @include mobile-screen {
      font-size: 20px;
    }
  }

  .welcome-image {
    width: auto;
    max-height: 30vh;
  }

  .welcome-button {
    display: none;
    margin-top: 7vh;
  }

  @include mobile-screen {
    width: 90%;
    margin-left: 5%;
    .welcome-button {
      display: block;
    }
  }
}
