---
---
<!-- layout for print export.html -->
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/styles/normalize.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | relative_url }}">
  </head>

  <body id="print-content">
    <section class="description">
      <img class="description-logo" src="{{ site.styling_options.logo_path | relative_url }}">
      <div class="description-title">{{ site.title }}</div>
    </section>

    <div class="site-main" aria-label="Content" >
      {{ content }}
    </div>


    <script>
        window.onload = function() {
          setTimeout( function(){
            window.print()
          }, 500)
        }
      </script>
  </body>

</html>
