---
---
<!-- layout for print export.html -->
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="icon" href="{{ "/assets/favicon.ico" | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/normalize.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <script src="{{ '/assets/printjs/print.min.js' | relative_url }}"></script>
  </head>

  <body>
    <main class="site-main" id="main-content" aria-label="Content" >
        {{ content }}
    </main>


    <script>
    printJS({
             printable: 'main-content',
             type: 'html',
             css: 'https://opengovsg.github.io/opendoc-theme/assets/main.css',
             scanStyles: false,
             style: "body{ font-family: 'Source Sans Pro'}"
         });
    </script>
  </body>

</html>
